<div class="container mt-4">
  <h1 class="display-4 text-center pb-4">Bem-vindo!</h1>
  <p class="text-center pb-3" style="font-size: large">O sistema de orçamentos organiza as suas finanças mantendo lista de compras, controle de gastos e outras informações úteis.</p>
  <div class="container bg-light pt-4 pl-5 pb-4 mb-5">
    <h3 class="pb-2">Como utilizar o sistema de orçamentos:</h3>
    <ul style="line-height: 24pt">
      <li>Na aba "Orçamento mensal":
        <ul>
          <li>A primeira seção mostra o total de renda e despesas do mês, bem como o valor final;</li>
          <li>Na seção "Novo registro" você pode adicionar uma compra ou uma fonte de renda;</li>
          <li>As tabelas de "Despesa" e "Renda" mostram os resultados de todos os registros feitos ao longo do mês.</li>
        </ul>
      </li>
      <li>Na aba "Lista de compras":
        <ul>
          <li>Pode registrar um item na lista de compras informando um nome, preço e a prioridade;</li>
          <li>Os itens aparecerão na tabela e você pode marcá-los como adquiridos usando o botão ao lado deles.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
